<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.raizlabs.android.dbflow.app">

    <application
        android:name="com.raizlabs.android.dbflow.App"
        android:allowBackup="true"
        android:label="DB Flow Compiler Test"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.raizlabs.android.dbflow.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>